<footer class="footer">

  <div class="container-fluid">

    <div class="container menu">
      <div class="row mb-3">

        <div class="col">
          <div><b class="text-uppercase">Products</b></div>
          <div><a href="//www.livarava.com/en/mail" id="ember1531" class="ember-view">Mail</a></div>
          <div><a href="//www.livarava.com/en/neuronet" id="ember1532" class="ember-view">Neuronet</a></div>
          <div><a href="//www.livarava.com/en/sites" id="ember1533" class="ember-view">Sites</a></div>
          <div>Events</div>
          <div>Products</div>
          <div>Tasks</div>
        </div>

        <div class="col">
          <div><b class="text-uppercase">Resources</b></div>
          <div><a href="//www.livarava.com/support" id="ember1534" class="ember-view">Support</a></div>
          <div><a href="//www.livarava.com/docs" id="ember1535" class="ember-view">Docs</a></div>
          <div><a href="//community.livarava.com">Community</a></div>
          <div><a href="//projects.livarava.com">Projects</a></div>
        </div>

        <div class="col">
          <div><b class="text-uppercase">Press</b></div>
          <div><a href="//www.livarava.com/en/mediakit" id="ember1536" class="ember-view">Media kit</a></div>
          <div>News</div>
          <div><a href="//blog.livarava.com">Blog</a></div>
        </div>

        <div class="col">
          <div><b class="text-uppercase">Services</b></div>
          <div>Research</div>
          <div>Marketing</div>
          <div>Design</div>
          <div>Development</div>
        </div>

        <div class="col">
          <div><b class="text-uppercase">Company</b></div>
          <div><a href="//www.livarava.com/en/about" id="ember1537" class="ember-view">About us</a></div>
          <div><a href="//jobs.livarava.com">Careers</a></div>
          <div><a href="//www.livarava.com/events" id="ember1538" class="ember-view">Events</a></div>
          <div><a href="//www.livarava.com/contact" id="ember1539" class="ember-view">Feedback</a></div>
          <div><a href="//www.livarava.com/en/contacts" id="ember1540" class="ember-view">Contacts</a></div>
        </div>

      </div>
    </div>

    <hr>

    <div class="container menu">
      <div class="row">
        <div class="col-12 text-center col-md-12 text-md-center">
          <small class="text-muted">
            <span><a href="//www.livarava.com/en/terms" id="ember1541" class="ember-view">Terms of Use</a></span>&nbsp;·&nbsp;
            <span><a href="//www.livarava.com/en/public-offer" id="ember1542" class="ember-view">Public Offer</a></span>
          </small>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row">
        <div class="col-12 text-center col-md-4 text-md-left">
          <small class="text-muted">
            © Copyright 2020 LivaRava. All rights reserved.
          </small>
        </div>
        <div class="col-12 text-center col-md-4 text-md-center">
          <small class="text-muted"></small>
        </div>
        <div class="col-12 text-center col-md-4 text-md-right">
          <a href="https://www.facebook.com/livarava" class="btn-social"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/livarava" class="btn-social"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/livarava" class="btn-social"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>

  </div>
</footer>